<template>
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <a class="footer-logo-img">
          <img src="../../../public/img/logo.png" alt=""/>
        </a>
      </div>
      <div class="footer-main">
        <div class="footer-faq-room footer-faq">
          <h3 class="footer-title">
            QUY ĐỊNH DÀNH CHO WEBSITE TMĐT BÁN HÀNG – DỊCH VỤ ĐẶT PHÒNG
          </h3>
          <ul class="footer-text">
            <a href="">
              <li>Chính sách và quy định chung</li>
            </a>
            <a href="">
              <li>Quy định về thanh toán</li>
            </a>
            <a href="">
              <li>Quy định về xác nhận thông tin đặt phòng</li>
            </a>
            <a href="">
              <li>Chính sách về hủy đặt phòng và hoàn trả tiền</li>
            </a>
            <a href="">
              <li>Chính sách bảo mật thông tin</li>
            </a>
          </ul>
          <img src="../../../public/img/logo-bocongthuong.png" alt="" class="footer-img"/>
        </div>
        <div class="footer-faq-tour footer-faq">
          <h3 class="footer-title">
            QUY ĐỊNH CHO SÀN GDTMĐT - DỊCH VỤ ĐẶT PHÒNG VÀ DỊCH VỤ ĐẶT TOUR
            DU LỊCH
          </h3>
          <ul class="footer-text">
            <a href="">
              <li>Quy chế hoạt động</li>
            </a>
            <a href="">
              <li>Chính sách bảo mật</li>
            </a>
            <a href="">
              <li>Quy trình giải quyết tranh chấp, khiếu nại</li>
            </a>
          </ul>
          <img src="../../../public/img/bocongthuong-dangky.png" alt="" class="footer-img"/>
        </div>
        <div class="app-download">
          <h3 class="footer-title">Tải ứng dụng</h3>
          <div class="app-link">
            <a href="" class="app-link-img">
              <img src="../../../public/img/apple-app.png" alt=""/>
            </a>
            <a href="" class="app-link-img">
              <img src="../../../public/img/google-app.png" alt=""/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
name: "Footer"
}
</script>

<style scoped>
@import "../../../public/css/footer.css";
</style>