<template>
  <header id="header" class="navbar-static navbar-fixed-top">
    <div class="top-nav">
      <div class="container-top-nav">
        <ul class="quick-menu pull-left">
          <li>
            <router-link tag="a" to="/">Home Page</router-link>
          </li>
          <li class="ribbon">English</li>
        </ul>
        <ul class="quick-menu pull-right">
          <li>
            <i class="fas fa-shopping-bag" style="margin-right: 4px"></i
            >Purchase
          </li>
          <router-link tag="li" id="button-login" to="/login">Đăng nhập</router-link>
          <router-link tag="li" id="button-register" to="/register">Đăng ký</router-link>
        </ul>
      </div>
    </div>
    <div class="main-header">
      <div class="container-main-header">
        <div class="logo">
          <img src="../../../public/img/logo.png" alt=""/>
        </div>
        <div class="nav-menu">
          <nav class="main-menu nav-menu-pc">
            <ul class="menu">
              <router-link tag="li" v-for="(menu, index) in menus" :key="index" :to="menu.to">
                <i :class="menu.iClass"></i>{{ menu.name }}
              </router-link>
            </ul>
          </nav>
          <nav class="nav-menu-button" v-on:click="toggleNav">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                 class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 448 512">
              <path fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
            </svg>
          </nav>
          <transition name="fade">
            <div class="nav-mobile" v-if="isShowNav">
              <div class="nav-overlay"></div>
              <div class="nav-mobile-close" v-on:click="toggleNav">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times"
                     class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 352 512">
                  <path fill="currentColor"
                        d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                </svg>
              </div>
              <ul class="nav-menu-mobile">
                <router-link tag="li" v-for="(menu, index) in menus" :key="index" :to="menu.to" @click="toggleNav">
                  <i :class="menu.iClass"></i>{{ menu.name }}
                </router-link>
              </ul>
            </div>
          </transition>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
export default {
  name: 'Header',
  components: {},
  methods: {
    toggleNav() {
      this.isShowNav = this.isShowNav !== true;
    }
  },
  data() {
    return {
      loggedIn: false,
      isShowNav: false,
      menus: [
        {iClass: "fas fa-home fa-fw", name: "Lưu trú", to: "/about"},
        {iClass: "fas fa-fighter-jet fa-fw", name: "Chuyến bay", to: '/'},
        {iClass: "fas fa-car fa-fw", name: "Thuê xe", to: '/'},
        {iClass: "fas fa-map-marker-alt fa-fw", name: "Địa điểm tham quan", to: '/'},
        {iClass: "fas fa-taxi fa-fw", name: "Taxi sân bay", to: '/'},
      ],
    };
  },
};
</script>
<style scoped>
@import "../../../public/css/header.css";</style>
