<template>
  <div class="index__section">
    <div class="index__section-container">
      <h2 class="text-header">{{ this.title }}</h2>
      <div class="bui-carousel">
        <ul class="bui-carousel__inner">
          <li
            v-for="value in IndexSection"
            :key="value"
            class="bui-carousel__item"
          >
            <a href="" class="bui-card">
              <div class="bui-card__image-container__1">
                <img v-bind:src="'/img/' + value.img" alt="" />
              </div>
              <div class="bui-card__content">
                <h3 class="bui-card__title new--title">
                  <span>{{ value.name }}</span>
                </h3>
                <p class="bui-title__subtitle">{{ value.place }}</p>
                <p class="bh-carousel--new__price">{{ value.price }}</p>
                <div class="bui-review-score">
                  <div
                    class="bui-review-score__badge"
                    aria-label="Đạt điểm 9,0"
                  >
                    9,0
                  </div>
                  <div class="bui-review-score__content">
                    <div class="bui-review-score__title">
                      {{ value.review }}
                    </div>
                    <div class="bui-review-score__text">
                      {{ value.commentScore }} đánh giá
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "IndexSection",
  data() {
    return {
      title: "Nhà ở mà khách yêu thích",
      IndexSection: [
        {
          name: "The Apartments",
          place: "London",
          price: "Giá từ VND 1.370.238",
          img: "VillaDomina.jpg",
          review: "Tuyệt hảo",
          commentScore: 3.128,
        },
        {
          name: "The Pateo Estevao",
          place: "Lisboa",
          price: "Giá từ VND 5.549.466",
          img: "Luxury3BedroomsLeLouvreIbyLivinparis.jpg",
          review: "Tuyệt hảo",
          commentScore: 3.128,
        },
        {
          name: "Sugar Loft Apartment",
          place: "Rio de Janeiro",
          price: "Giá từ VND 1.107.833",
          img: "FloraChiadoApartments.jpg",
          review: "Tuyệt hảo",
          commentScore: 3.128,
        },
        {
          name: "Apartments ulitsa",
          place: "Saint Petersburg",
          price: "Giá từ VND 4.233.375",
          img: "CasaMalasaña.jpg",
          review: "Tuyệt hảo",
          commentScore: 20,
        },
        {
          name: "Santan Ana Boutique",
          place: "Madrid",
          price: "Giá từ VND 6.768.978",
          img: "VillaDomina.jpg",
          review: "Tuyệt hảo",
          commentScore: 300,
        },
      ],
    };
  },
};
</script>
<style>
@import "../../../public/css/index_section.css";
</style>
