<template>
    <div class="search">
      <div class="search-container">
        <div class="search-box">
          <div class="search-wrapper">
            <ul
              class="nav nav-tabs border-0 mt-3 row"
              id="search-box-header"
              role="tablist"
            >
              <li class="nav-item p-0 left">
                <a class="=text-light" data-toggle="tab" href="#hotel"
                  >Khách sạn</a
                >
              </li>
              <li class="nav-item p-0 right">
                <a class="text-light" data-toggle="tab" href="#planes">Máy bay</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="hotel" class="container tab-pane active">
                <br />
                <div class="search-box-input">
                  <div class="input-items">
                    <i class="fas fa-car icon"></i>
                    <label>
                      <input
                        type="text"
                        class="search-box-input input-fields"
                        placeholder="Nhập tên khách sạn, địa danh.."
                        style="border:none; outline:none;"
                      />
                    </label>
                  </div>
                  <div class="input-items date checkout">
                    <div class="date-picker">
                      <i class="fas fa-calendar-week icon"></i>
                      <label for="from"></label><input
                        id="from"
                        name="from"
                        class="datepicker input-fields"
                        type="text"
                        placeholder="dd/mm/yyyy"
                      />
                    </div>
                    <div class="date-picker">
                      <i class="fas fa-calendar-week icon"></i>
                      <label for="to"></label><input
                        id="to"
                        name="to"
                        class="datepicker input-fields"
                        type="text"
                        placeholder="dd/mm/yyyy"
                      />
                    </div>
                  </div>
                  <div class="input-items">
                    <div class="room-guest-select">
                      <div class="rooms amount-item">
                        <span class="room-guest-select-text">Phòng</span>
                        <label for="myNumber1"></label><input
                          type="text"
                          value="1"
                          id="myNumber1"
                          class="room-guest-select-value input-number"
                          style="border:none; outline:none"
                        />
                      </div>
                      <div class="guest amount-item">
                        <span class="room-guest-select-text">Khách</span>
                        <label for="myNumber2"></label><input
                          type="text"
                          id="myNumber2"
                          class="input-number"
                          value="1"
                          style="border:none; outline:none"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group search-btn">
                    <button class="search-submit" type="submit">
                      <span class="btn-search-txt">Tìm khách sạn</span>
                    </button>
                  </div>
                </div>
              </div>
              <div id="planes" class="container tab-pane fade">
                <br />
                <h3>Menu 1</h3>
                <p>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: "Search"
}
</script>

<style scoped>
/*@import './public/css/search.css';*/
</style>