

.bodycontraint {
    display: flex;
}
.bodycontraint-inner {
    width: 70%;
    margin: auto;
}
.sr_header--wrapper {
    
}
.sr_header--title {
    
}
.sr__header {

}
.hotel-list {
    display: flex;
    border: solid 1px;
    padding: 5px;
    background: #ebf3ff;
    border-radius: 4px;
    /* border: none; */
   
    margin-top: 20px;
}
.hotel-list .sr_double_search {
    margin: auto;
    border: none;
    outline: none;

}
.wider_image {

} 
.sr_item_content {
    /* display: flex; */

}
.sr_property_block_main_row {
    display: flex;
    /* margin: auto; */
    justify-content: space-around;
} 

.sr_item_main_block {
    width: 80%;
}

.sr_item_review_block {
    display: block;
}
.bui-link {
    color: #005c9d;
    text-decoration: none;
    cursor: pointer;
}
.sr_card_address_line__item {
    
}
.hotel_desc {
    margin-top: 5px;
}

.bui-review-score--end {
    width: 28px;
    height: 28px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    background-color: #003580;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: baseline;
    border-radius: 6px 6px 6px 0;
}
.sr-review-score__link {
    text-decoration: none;
}
.bui-review-score {
    display: inline;
}
.bui-review-score__content {
    display: block;
    margin-top: 5px;
}
.bui-review-score__title {
    color: #003580;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}
.bui-review-score__text {
    color: #6b6b6b;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    margin-top: 4px;
}
.button-price {
    text-decoration: none;
    margin-top: 10px;
    background-color: #0071c2;
    border: solid 1px;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
}
.button-price:hover {
    background-color: #005c9d ;
}