h3{
    padding: 20px 0 10px 0;
}
.search-by-property {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.search-by-property-container {
    width: 70%;
}

.build__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-header {
    font-size: 28px;
    font-weight: 700;
}
.container-item{
    margin-top: 50px;
}
.build__inner .inner__item img {
    border-radius: 4%;
    border: none;
    outline: none;
    width: 207px;
    height: 198px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.property-img {
    overflow: hidden;
}

.build__inner .inner__item:hover a{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.build__inner .inner__item h3 a {
    font-size: 20px;
}

.build__inner .inner__item .subtitle {
    font-size: 14px;
}