.footer {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    margin-top: 200px;
}

.footer-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.footer-container .footer-logo {
    width: 100%;
}

.footer h3 {
    font-size: 12px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.footer-faq {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.footer-title {
    margin-bottom: 30px;
}

.footer-img {
    margin-top: auto;
    width: 30%;
}