.largest-popular {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.largest-popular-container {
    width: 70%;
}

.largest-popular .bui-carousel {
    margin-top: 40px;
}
.largest-popular .build-title__text {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
}
.largest-popular .build-title__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.largest-popular .bui-card__content .bui-card__title {
    font-size: 20px;
    padding: 20px 0 10px 0;
    font-weight: 600;
}
.largest-popular .bui-title__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6b6b6b;
}
.largest-popular .bui-carousel__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.largest-popular .bui-carousel__item {
    margin-top: 20px;
}
.largest-popular .bui-carousel__item .bui-card__image-container img {
    width: 207px;
    height: 180px;
    border-radius: 4%;
}
.largest-popular .bui-carousel__item:hover img {
    transition: 0.4s;
    box-shadow: 0 0 10px;
}
