
div.modal-register label,
div.modal-login label{
    margin: 0;
    font-size: 17px;
}

.modal-register-body,
.modal-login-body {
    margin: auto;
    margin-top: 120px !important;
    width: 30%;
    height: auto;
    background-color: white;
    flex-grow: 0 !important;
    padding: 40px !important;
    border-radius: 6px;
}


.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form-header .auth-form-heading {
    font-weight: 500;
}

.auth-form .auth-form_form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.auth-form-group {
    display: flex;
    flex-direction: column;
}

.auth-form-group .form-group{
    display: flex;
    flex-direction: column;
}

.auth-form-group .form-group input:invalid{
    border-color: red;
}
.auth-form-group input {
    margin: 10px 0;
    padding: 8px 16px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    font-weight: 300;
}

.modal-body-container .auth-form .auth-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 40px;
}

.modal-body-container .auth-form-faq {
    margin: 16px 0;
}

.auth-form-controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form-controls .auth-form-btn {
    margin: 0;
    padding: 8px 8px;
    border: 1px solid #e6e6e6;
    outline: none;
    font-weight: 400;
    border-radius: 6px;
}
.auth-form-controls .auth-form-btn:first-child{
    margin-right: 12px;
}
.auth-form-controls #auth-form-register,
.auth-form-controls #auth-form-login {
    background-color: #013980;
    color: white;
    transition: all 0.2s ease-in;
}

.auth-form-controls #auth-form-register:hover,
.auth-form-controls #auth-form-login:hover {
    background-color: #4375b3;
    color: white;
}