<template>
  <div class="dalat-menu">
    <div class="dalat-menu-container">
      <div class="sr_header--wrapper">
        <div class="sr_header--title">
          <h1 class="sr__header">
            Đà Lạt: Tìm thấy 1,199 chỗ nghỉ
          </h1>
        </div>
      </div>
      <div class="b-search-web">
        <div class="plank-sorters-bar">
          <ul class="plank-sorters-bar-inner">
            <li class="plank-sorters-bar-item" v-for="(value, index) in menus" :key="index">
              <router-link tag="a" :to="value.to">{{value.name}}</router-link>
            </li>
          </ul>
        </div>
      </div>
      <router-view>
        <slot/>
      </router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "DaLatMenu",
  data: () => {
    return {
      menus: [
        {name: 'Lựa chọn hàng đầu của chúng tôi', to: '/dalat'},
        // {name: 'Nhà ở và căn hộ', to: '/dalat/home_apartment'},
        // {name: 'Giá (ưu tiên thấp nhất)', to: '/dalat/best_price'},
        // {name: 'Khoảng cách từ trung tâm thành phố', to: '/dalat/far_from_city'},
        // {name: 'Được đánh giá hàng đầu', to: '/dalat/top_review'},
      ]
    }
  }
}
</script>

<style>
@import "../../../../public/css/dalatmenu.css";
</style>
