<template>
  <div>
    <Header/>
    <slot/>
  </div>
</template>

<script>
import Header from "@/components/views/LargestPopular/Header";

export default {
  name: "DaLatLayout",
  components: {
    Header
  }
}
</script>

<style scoped>

</style>